// Taller Veganista
// Design and Development. Fluorescente github: @fluorescente
// fluorescente.design

// Type scale: https://www.modularscale.com/?16&px&1.2
// Spaces scale: 2 / 4 / 8 / 16 / 32 / 64 / 128
// Spaces scale: 6 / 12 / 24 / 48

// Variables

// Color variables
$brand: #8441FD;
$brand-2: #B2FCE4;
$brand-3: #FF5252;
$dark: #000;
$bright: #FFFEFA;

$gray-1: #f7f7f7;
$gray-2: #c6c6c6;
$gray-3: #949494;
$gray-4: #636363;
$gray-5: #313131;

$transparent: rgba(0,0,0,0);
$box-shadow: -1px -1px 17px -2px rgba(0,0,0,0.13);
$transition: .7s ease;

// Type variables

$sans-serif: 'League Spartan Variable', sans-serif;
$serif: 'EB Garamond', serif;

$regular: 400;
$regular-italic: 400i;

$medium: 600;
$medium-italic: 600i;

$bold: 700;
$bold-italic: 700i;

$big-text: 1.44rem;
$medium-text: 1.2rem;
$small-text: 1rem;
$micro-text: 0.833125rem;

$big-line-height: 2.25rem;
$medium-line-height: 1.92rem;
$small-line-height: 1.6rem;


// xs - Up to 768px
@media only screen and (max-width: 48em){
  // visible/hidden
  .visible-sm{
    display: block;
  }
  .hidden-xs{
    display: none;
  }
}

// sm - from 768
@media only screen and (min-width: 48em) {
  // visible/hidden
  .visible-sm{
    display: block;
  }
  .hidden-sm{
    display: none;
  }
  // Headings
  h1{
    // h1-xs: 47,78px / 57px
    font-size: 2.98625rem;
    line-height: 3.5625rem;
  }
  h2{
    // h2-xs: 39,81px / 47px
    font-size: 2.488125rem;
    line-height: 2.9375rem;
  }
  h3{
    // h3-xs: 33,18px / 39px
    font-size: 2.07375rem;
    line-height: 2.4375rem;
  }
  h4{
    // h4-xs: 27,65px / 33px
    font-size: 1.728125rem;
    line-height: 2.0625rem;
  }
  h5{
    // h4-xs: 23.04px / 27px
    font-size: 1.44rem;
    line-height: 1.6875rem;
  }
  // Buttons
  .button-big, .link-big{
    font-size: $big-text;
  }
  .button{
    & .visible-sm{
      display: inline-block;
    }
  }
  // Main nav
  .main-nav{
    padding: .75rem 0 .5rem 0;
    & li{
      & a{
        font-size: 1.5rem;
      }
    }
  }
  // Modal nav
  .uk-modal-full{
    & .uk-modal-body{
      padding: 1rem 0 2.4rem 0;
    }
  }
  // Header
  .button-wide-xs{
    display: inline-block;
  }
  .index-header{
    padding: 0 0 1rem 0;
    background-color: $dark;
    background-image: url(../images/hero-image-home-tablet.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    & h1, & p{
      color: $bright;
    }
    & .content-box{
      margin: 6rem 0 2.5rem 0;
      padding: 0 2rem 0 0;
    }
    & .text-box{
      margin: 0 0 2.5rem 0;
    }
  }
  .down{
    color: $bright;
    font-size: 2rem;
    &:hover{
      color: $brand-2;
    }
  }

  // Content
  .content{
    & .row{
      padding: 0 0 4rem 0;
      margin: 0 0 4.5rem 0;
    }
    & .text-box{
      margin: 0 0 2rem 0;
    }
    & .preview-events-and-articles{
      margin: 0;
    }
    & .preview-event-article{
      & h4{
        font-size: 1.728125rem;
        line-height: 2.0625rem;
      }
    }
    & .preview-event{
      padding: 0;
      border-bottom: none;
    }
  }
}

// lg - from 962
@media only screen and (min-width: 62em) {
  // visible/hidden
  .visible-lg{
    display: block;
  }
  .hidden-lg{
    display: none;
  }
  // Main nav
  .main-nav{
    background-color: $transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    & .logo{
      font-size: 8.5rem;
      color: $bright;
      &:hover{
        color: $brand-2;
      }
    }
    & ul{
      & li{
        margin-right: 1.2rem;
        & a{
          font-family: $sans-serif;
          font-weight: $bold;
          font-size: $medium-text;
          color: $bright;
          &:hover{
            color: $brand-2;
          }
        }
      }
    }
    & .social{
      display: inline-block;
      & li{
        margin-right: 1rem;
        &:last-child{
          margin-right: 0;
        }
        & a{
          font-size: $medium-text;
        }
      }
    }
  }
  // content-box nav
  .shrink-nav{
    // background-color: $bright;
    background-color: $brand-2;
    // box-shadow: $box-shadow;
    // -webkit-box-shadow: $box-shadow;
    // -moz-box-shadow: $box-shadow;
    & ul{
      margin-top: -.5rem;
    }
    & li{
      margin-right: 1rem !important;
      & a{
        color: $dark !important;
        font-size: $small-text !important;
        &:hover{
          color: $dark !important;
        }
      }
    }
    & .social{
      position: relative;
      top: .2rem;
      & li{
        margin-right: .75rem !important;
      }
    }
    & .logo{
      font-size: 1.5rem;
      color: $dark;
      &:hover{
        color: $bright !important;
      }
      & span{
        &:before{
          content: "\e94b";
        }
      }
    }
  }
  // Index
  .index-header{
    background-image: url(../images/hero-image-home-variant.png);
  }
  // Footer
  footer{
    & nav{
      margin: 0 0 .5rem 0;
      & li{
        margin-right: 1rem;
        display: inline-block;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  & .text-box{
    margin: 0 0 .5rem 0;
    & p{
      display: inline-block;
    }
  }
}

// lg - from 1200
@media only screen and (min-width: 75em) {
  .index-header{
    margin: 0 auto 6rem auto;
    & .content-box{
      margin: 9rem 0 5.5rem 0;
      padding: 0 2rem 0 0;
    }
    & .text-box{
      margin: 0 0 2.5rem 0;
    }
  }
}
