<!-- alert -->
<div class="alert">
  <!-- wrapper -->
  <div class="wrapper container-fluid container-huge">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <!-- alert component -->
        <div uk-alert>
          <div class="row">
            <div class="col-xs-11 col-lg-12">
              <p>La lección 8 está en construcción :)</p>
            </div>
            <div class="col-xs-2">
              <a class="uk-alert-close alert-content-no-heading" uk-close><span class="icon icon-close"></span></a>
            </div>
          </div>
        </div>
        <!-- alert component -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</div>
<!-- alert-end -->
