<!-- alert -->
<div class="alert hidden-xs">
  <!-- wrapper -->
  <div class="wrapper container-fluid container-huge">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <!-- alert component -->
        <div uk-alert>
            <a class="uk-alert-close alert-content-no-heading" uk-close><span class="icon icon-close"></span></a>
            <p>Gracias por la visita. Este sitio está en construcción.<span class="icon icon-taller-veganista-mascot-fill"><span class="icon icon-heart-fill"></span></p>
        </div>
        <!-- alert component -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</div>
<!-- alert-end -->
