<!-- articles-gallery -->
<div class="wrapper container-fluid">
  <!-- row -->
    <ul class="row articles-gallery">
      {% for post in site.posts %}
        {% if post.tags contains 'blog-gallery' %}
          <li class="col-xs-12 col-sm-12 col-lg-6" uk-scrollspy="cls: uk-animation-fade; delay: 100">
            <a href="{{ post.url }}">
              <!-- row -->
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <figure>
                    <img src="{{ post.image }}" alt="">
                  </figure>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <p class="category">{{ post.categories | join: '・' }}</p>
                  <h2 class="hidden-lg">{{ post.title }}</h2>
                  <h4 class="hidden-xs hidden-sm visible-lg">{{ post.title }}</h4>
                  <p class="visible-xs visible-sm hidden-lg articles-exerpt">{{ post.excerpt | truncate: 126}}</p>
                  <p class="p-small hidden-xs hidden-sm visible-lg articles-exerpt">{{ post.excerpt | truncate: 126 }}</p>
                  <p class="author-date">{{ post.author }}</p>
                  <p class="author-date">{% assign m = post.date | date: "%-m" %} {% case m %} {% when '1' %}Enero {% when '2' %}Febrero {% when '3' %}Marzo {% when '4' %}Abril {% when '5' %}Mayo {% when '6' %}Junio {% when '7' %}Julio {% when '8' %}Agosto {% when '9' %}Septiembre {% when '10' %}Octubre {% when '11' %}Noviembre {% when '12' %}Diciembre {% endcase %} {{ post.date | date: "%d" }} / {{ post.date | date: "%Y" }}</p>
                </div>
              </div>
              <!-- row end -->
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  <!-- row end -->
</div>

<!-- articles-gallery end -->
