<!-- events-gallery -->
<div class="wrapper container-fluid">
  <!-- row -->
    <ul class="row events-gallery">
      {% for event in site.events reversed %}
        {% if event.tags contains 'events-gallery' %}
          <li class="col-xs-12 col-sm-12 col-lg-6" uk-scrollspy="cls: uk-animation-fade; delay: 100">
            <a href="{{ event.url }}">
              <!-- row -->
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <figure>
                    <img src="{{ event.image }}" alt="">
                  </figure>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <p class="author-date">{% assign m = event.event-date | date: "%-m" %} {% case m %} {% when '1' %}Enero {% when '2' %}Febrero {% when '3' %}Marzo {% when '4' %}Abril {% when '5' %}Mayo {% when '6' %}Junio {% when '7' %}Julio {% when '8' %}Agosto {% when '9' %}Septiembre {% when '10' %}Octubre {% when '11' %}Noviembre {% when '12' %}Diciembre {% endcase %} {{ event.event-date | date: "%d" }} / {{ event.event-date | date: "%Y" }}</p>
                  <p class="category">{{ event.categories | join: '&nbsp; | &nbsp;' }}</p>
                  <h2 class="hidden-lg">{{ event.title }}</h2>
                  <h4 class="hidden-xs hidden-sm visible-lg">{{ event.title }}</h4>
                  <p class="visible-xs visible-sm hidden-lg">{{ event.excerpt | truncate: 126 }}</p>
                  <p class="p-small hidden-xs hidden-sm visible-lg">{{ event.excerpt | truncate: 126 }}</p>
                  <!-- <p>{{ post.excerpt }}</p> -->
                </div>
              </div>
              <!-- row end -->
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  <!-- row end -->
</div>

<!-- events-gallery end -->
