<!-- footer -->
<footer class="center-xs">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <a class="logo" href="/"><span class="icon icon-taller-veganista-mascot"></span></a>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/porque-veganismo/">¿Porqué veganismo?</a></li>
            <li><a href="#">Lecciones</a></li>
            <li><a href="#">¿Qué es Taller Veganista?</a></li>
            <li><a href="#">Parches</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <!-- text-box -->
        <div class="text-box">
          <p>Taller Veganista es una iniciativa para apoyar el movimiento antiespecista en Medellín.</p>
          <p>Diseño y desarrollo: <a class="link" href="https://fluorescente.design/" target="_blank">fluorescente.design</a></p>
        </div>
        <!-- text-box end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <nav class="social">
          <ul class="inline">
            <li><a href="#"><span class="icon icon-meetup"></span></a></li>
            <li><a href="#"><span class="icon icon-telegram"></span></a></li>
          </ul>
        </nav>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</footer>
<!-- footer end -->
