<!-- header -->
<header class="index-header" uk-parallax="bgy: -86">
  <!-- Main nav desk -->
  {% include main-nav-desk.html %}
  <!-- Main nav desk end -->
  <!-- wrapper hero image-->
  <div class="wrapper hero-image hidden-sm" uk-parallax="bgy: -40">
  </div>
  <!-- wrapper hero image end -->
  <!-- wrapper -->
  <div class="wrapper container-fluid content-box-wrapper">
    <!-- row -->
    <div class="row  middle-lg">
      <!-- col -->
      <div class="col-xs-12 col-sm-6 col-lg-6 content-box" uk-scrollspy="cls: uk-animation-fade; delay: 100">
        <h1>{{ page.header-heading }}</h1>
        <!-- text-box -->
        <div class="text-box">
          <p>{{ page.header-text }}</p>
        </div>
        <!-- text-box end -->
        <a class="button brand-background button-big button-wide-xs" href="/lecciones/">{{ page.header-button }}</a>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-lg-6 hidden-xs hidden-sm visible-lg fake-height"></div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row center-sm hidden-xs visible-lg">
      <!-- col -->
      <div class="col-xs-12 down-box">
        <a class="down" href="#scroll-to-content" uk-scroll="offset: 128"><span class="icon icon-down"></span> </a>
      </div>
      <!-- col end -->
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</header>
<!-- header end -->
