<!-- content -->
<div class="content content-lessons" uk-scrollspy="cls: uk-animation-fade; delay: 100">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <h1>{{ page.title }}</h1>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row article-container">
      <!-- col -->
      <div class="col-xs-12 col-lg-6">
        <p class="p-big"><a class="link" href="#scroll-to-lessons" uk-scroll="offset: 90">Lecciones</a> en las que aprenderás sobre consideraciones éticas relativas al veganismo, nutrición a base de plantas, impacto ambiental de las industrias de explotación animal y activismo. Tendrás la posibilidad de conocer a más personas veganas de la ciudad.</p>
        <p>Escribe un <a class="link" href="mailto:hola@tallerveganista.com" target="_blank" rel="noopener noreferrer">correo,</a> usa el chat de la esquina inferior derecha, o enviarnos un mensaje por <a class="link" href="https://t.me/joinchat/J9QQERRxaty5e3lfNBtHdw" target="_blank">Telegram,</a> si quieres preguntar o comentar.</p>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-lg-6">
        <p>Al final de la lección incluimos recetas que puedes ensayar. Buscamos que sean fáciles de preparar y de precio accesible. Puedes llevar una dieta a base de plantas adecuada sin complicarte mucho la vida. Si tienes requerimientos nutricionales específicos puedes consultar con <a class="link" href="#" target="_blank">nutricionistas veganxs.</a> que no te van a recomendar comer huevo o pescado. (próximamente)</p>
        <p>Por último pero muy importante. Para conseguir suplementos de vitamina b12 sin ingredientes animales <a class="link" href="#" target="_blank">haz clic acá.</a> /(próximamente)</p>
      </div>
      <!-- col end-->
      <!-- col -->
      <div class="col-xs-12 center-xs hidden-xs hidden-sm visible-lg">
        <a class="scroll-down" href="#scroll-to-lessons" uk-scroll="offset: 90"><span class="icon icon-down"></span> </a>
      </div>
      <!-- col end -->
    </div>
    <!-- row -->
    <div class="row">

    </div>
    <!-- row end -->
  </div>
  <!-- wrapper -->
</div>
<!-- content end -->
