<!-- content -->
<div class="content content-lessons">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <h1>{{ page.title }}</h1>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row article-container">
      <!-- col -->
      <div class="col-xs-12 col-lg-6">
        <p class="p-big">{{ page.highlight-text }}</p>
        <p>{{ page.text-col-one }}</p>
      </div>
      <!-- col -->
      <!-- col -->
      <div class="col-xs-12 col-lg-6">
        <p>{{ page.text-col-two }}</p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- wrapper -->
</div>
<!-- content end -->
