<!-- content -->
<div class="content content-lessons" uk-scrollspy="cls: uk-animation-fade; delay: 100">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <h1>{{ page.title }}</h1>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row article-container">
      <!-- col -->
      <div class="col-xs-12 col-lg-6">
        <p class="p-big">Las lecciones abarcan algunas características y comportamientos de las especies de animales no humanos más explotadas, las prácticas estándar de las diferentes industrias que les explotan, una mirada hacia las estrategias de marketing para promocionar productos de origen animal, qué es veganismo y cuál es el origen de esta práctica e ideología, una introducción a la nutrición basada en plantas, riesgos que trae el consumo de alimentos de origen animal, y el impacto ambiental de las industrias de explotación animal.</p>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-lg-6">
        <p>Nuestra intención no es intentar convencer o manipular emocionalmente a alguien para que apoye la liberación animal y/o practique el veganismo, sino facilitar el conocimiento al menos por encima los diferentes temas relacionados con la liberación animal, además de compartir las fuentes desde donde se puede obtener información adicional.
        </p>
        <p>
        Al final de cada lección incluimos recetas a base de plantas, accesibles y relativamente fáciles de preparar.
        </p>
        <p>Puedes escribir un <a class="link" href="mailto:tallerveganista@pm.me" target="_blank" rel="noopener noreferrer">correo,</a> usar el chat de la esquina inferior derecha, o enviarnos un mensaje por <a class="link" href="https://t.me/joinchat/J9QQERRxaty5e3lfNBtHdw" target="_blank">Telegram,</a> si quieres preguntar o comentar.</p>
      </div>
      <!-- col end-->
      <!-- col -->
      <div class="col-xs-12 center-xs hidden-xs hidden-sm visible-lg">
        <a class="scroll-down" href="#scroll-to-lessons" uk-scroll="offset: 90"><span class="icon icon-down"></span> </a>
      </div>
      <!-- col end -->
    </div>
    <!-- row -->
    <div class="row">

    </div>
    <!-- row end -->
  </div>
  <!-- wrapper -->
</div>
<!-- content end -->
