<!-- lessons-gallery -->
<div class="wrapper container-fluid" id="scroll-to-lessons">
  <!-- row -->
    <ul class="row lessons-gallery">
      {% for lesson in site.lessons %}
        {% if lesson.tags contains 'lesson' %}
          <li class="col-xs-12 col-sm-6 col-lg-3" uk-scrollspy="cls: uk-animation-fade; delay: 100">
            <a href="{{ lesson.url }}">
              <figure>
                <img src="{{ lesson.image }}" alt="{{ lesson.alt-image }}">
              </figure>
              <p class="category">{{ lesson.lesson-number }}</p>
              <h4>{{ lesson.title }}</h4>
              <p class="p-small">{{ lesson.excerpt | truncate: 126 }}</p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  <!-- row end -->
</div>

<!-- lessons-gallery end -->
