<nav class="hidden-xs hidden-sm visible-lg main-nav" id="desk-nav">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-sm">
      <!-- col -->
      <div class="col-sm-5">
        <nav>
          <ul class="inline underline-links">
            <li><a href="/porque-veganismo/" {% if page.url == "/porque-veganismo/" %}class="active"{% endif %}>¿Por qué veganismo?</a></li>
            <li><a href="/lecciones/" {% if page.url == "/lecciones/" or page.category == "lesson" %}class="active"{% endif %}>Lecciones</a></li>
          </ul>
        </nav>
      </div>
      <!-- col end -->
      <div class="col-sm-2 center-sm">
        <a class="logo" href="/"><span class="icon icon-taller-veganista-logo"></span></a>
      </div>
      <!-- col -->
      <!-- col -->
      <div class="col-sm-5 end-sm">
        <nav>
          <ul class="inline underline-links nav-right">
            <li><a href="/parches/" {% if page.url == "/parches/" or page.tags contains "event" %}class="active"{% endif %}>Parches</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="mailto:hola@tallerveganista.com" target="_blank" rel="noopener noreferrer">Correo</a></li>
            <div class="social">
              <li><a href="#"><span class="icon icon-meetup"></span></a></li>
              <li><a href="#"><span class="icon icon-telegram"></span></a></li>
            </div>
          </ul>
        </nav>
      </div>
      <!-- col end -->
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</nav>
