<!-- Main nav mobile -->
<nav uk-sticky="show-on-up: true" class="main-nav visible-xs visible-sm hidden-lg">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-xs">
      <!-- col -->
      <div class="col-xs-6 start-xs">
        <ul class="inline">
          <li><a href="/"><span class="icon icon-taller-veganista-mascot-fill"></span></a></li>
        </ul>
      </div>
      <!-- col -->
      <!-- col -->
      <div class="col-xs-6 end-xs">
        <ul class="inline">
          <li><a href="#modal-nav" uk-toggle><span class="icon icon-hamburger-two"></span></a></li>
        </ul>
      </div>
      <!-- col -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</nav>
<!-- Main nav mobile end -->
