<!-- modal nav -->
<div id="modal-nav" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <!-- wrapper -->
      <div class="wrapper container-fluid" uk-scrollspy="cls: uk-animation-fade; delay: 160">
        <!-- row -->
        <div class="row end-xs">
          <!-- col -->
          <div class="col-xs-12">
            <a class="uk-modal-close-default" uk-close><span class="icon icon-close"></span></a>
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
        <!-- row -->
        <div class="row center-xs middle-xs modal-nav-row">
          <!-- col -->
          <div class="col-xs-12">
            <ul>
              <li class="logo"><a href="/"><span class="icon icon-taller-veganista-logo"></span></a></li>
              <li><a href="/porque-veganismo/">¿Porqué veganismo?</a></li>
              <li><a href="/lecciones/">Lecciones</a></li>
              <li><a href="/parches/">Parches</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="mailto:hola@tallerveganista.com" target="_blank" rel="noopener noreferrer">Correo</a></li>
            </ul>
            <ul class="inline social">
              <li><a href="https://www.meetup.com/taller-veganista/" target="_blank"><span class="icon icon-meetup"></span></a></li>
              <li><a href="https://t.me/joinchat/J9QQERRxaty5e3lfNBtHdw" target="_blank"><span class="icon icon-telegram"></span></a></li>
              <li><a href="https://www.buymeacoffee.com/tallerveganista" target="_blank"><span class="icon icon-buy-me-a-coffee"></span></a></li>
            </ul>
          </div>
          <!-- col-end -->
        </div>
        <!-- row end -->
      </div>
      <!-- wrapper end -->
    </div>
</div>
<!-- modal nav end -->
