---
layout: basic-structure
---

{% for post in site.posts %}
  <ul>
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  </ul>
{% endfor %}

<!-- {% for post in site.pages %}
  <ul>
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  </ul>
{% endfor %} -->

<h2>Style</h2>

{% for post in site.posts %}
  <ul>
    <li><a style="{% if page.url == post.url %}color: red;{% endif %}" href="{{ post.url }}">{{ post.title }}</a></li>
  </ul>
{% endfor %}

{% for person in site.data.people %}
  {{ person.name }}, {{ person.occupation }}.
{% endfor %}


{% for file in site.static_files %}
  {% if file.image %}
    <img src="{{file.path}}" alt={file.name}"">
  {% endif %}
{% endfor %}
