---
layout: basic-structure
---

{% include header.html %}

<!-- content -->
<main class="wrapper container-fluid">
  <!-- wrapper -->
  <div class="wrapper">
    <!-- content-event -->
    <div class="content-event-article">
      {% for post in site.posts %}
        {% if post.tags contains 'highlight-article' %}
          <a class="highlight-thumbnail-a" href="{{ post.url }}">
          <!-- row thumbnail -->
              <!-- row -->
              <div class="row highlight-thumbnail" uk-scrollspy="cls: uk-animation-fade; delay: 100">
                <!-- col -->
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <figure>
                    <img class="hidden-lg" src="{{ post.image }}" alt="">
                    <img class="hidden-xs hidden-sm visible-lg" src="{{ post.image-landscape }}">
                  </figure>
                </div>
                <!-- col end -->
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <p class="category">{{ post.categories | join: '・' }}</p>
                  <h2>{{ post.title }}</h2>
                  <p class="articles-exerpt">{{ post.excerpt | truncate: 320 }}</p>
                  <p class="author-date">{{ post.author }} <span class="hidden-xs hidden-sm visible-date">&nbsp; | &nbsp;{% assign m = post.date | date: "%-m" %} {% case m %} {% when '1' %}Enero {% when '2' %}Febrero {% when '3' %}Marzo {% when '4' %}Abril {% when '5' %}Mayo {% when '6' %}Junio {% when '7' %}Julio {% when '8' %}Agosto {% when '9' %}Septiembre {% when '10' %}Octubre {% when '11' %}Noviembre {% when '12' %}Diciembre {% endcase %} {{ post.date | date: "%d" }} / {{ post.date | date: "%Y" }}</span></p>
                  <p class="author-date hidden-lg">{% assign m = post.date | date: "%-m" %} {% case m %} {% when '1' %}Enero {% when '2' %}Febrero {% when '3' %}Marzo {% when '4' %}Abril {% when '5' %}Mayo {% when '6' %}Junio {% when '7' %}Julio {% when '8' %}Agosto {% when '9' %}Septiembre {% when '10' %}Octubre {% when '11' %}Noviembre {% when '12' %}Diciembre {% endcase %} {{ post.date | date: "%d" }} / {{ post.date | date: "%Y" }}</p>
                </div>
              </div>
              <!-- row thumbnail end-->
          </a>
      {% endif %}
    {% endfor %}
    </div>
    <!-- content-event-end -->
  </div>
  <!-- wrapper end -->
</main>
<!-- content end -->

{% include blog-gallery.html %}
