---
layout: basic-structure
---

{% include header.html %}

<!-- content -->
<div class="wrapper container-fluid">
  <!-- wrapper -->
  <div class="wrapper">
    <a href="#">
      <!-- row -->
      <div class="row highlight-thumbnail">
        <!-- col -->
        <div class="col-xs-12 col-lg-6">
          <figure>
            <img src="{{ "/assets/images/event-thumbnail.jpg" | relative_url }}" alt="">
          </figure>
        </div>
        <!-- col end -->
        <div class="col-xs-12 col-lg-6">
          <p class="author-date">Dic 16 / 2020</p>
          <p class="category">Negocios Veganos</p>
          <h2>Veganizaction</h2>
          <p>Bazar de marcas veganas, comidas, bebidas y música a cargo de hush money y lxs djs Deadrabbit, Marcianas y Toxic Avengers. Para asistir, debes inscribirte en Meetup. meetup.com/veganizaction</p>
        </div>
      </div>
      <!-- row -->
    </a>
  </div>
  <!-- wrapper end -->
</div>
<!-- content end -->
