---
layout: basic-structure
---

{% include header.html %}

<!-- content -->
<main class="wrapper container-fluid">
  <!-- wrapper -->
  <div class="wrapper">
    <!-- content-event -->
    <div class="content-event-article">
      {% for event in site.events %}
        {% if event.tags contains 'highlight-event' %}
          <a class="highlight-thumbnail-a" href="{{ event.url }}">
          <!-- row thumbnail -->
              <!-- row -->
              <div class="row highlight-thumbnail" uk-scrollspy="cls: uk-animation-fade; delay: 100">
                <!-- col -->
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <figure>
                    <img class="hidden-lg" src="{{ event.image }}" alt="">
                    <img class="hidden-xs hidden-sm visible-lg" src="{{ event.image-landscape }}">
                  </figure>
                </div>
                <!-- col end -->
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <p class="author-date">{% assign m = event.event-date | date: "%-m" %} {% case m %} {% when '1' %}Enero {% when '2' %}Febrero {% when '3' %}Marzo {% when '4' %}Abril {% when '5' %}Mayo {% when '6' %}Junio {% when '7' %}Julio {% when '8' %}Agosto {% when '9' %}Septiembre {% when '10' %}Octubre {% when '11' %}Noviembre {% when '12' %}Diciembre {% endcase %} {{ event.event-date | date: "%d" }} / {{ event.event-date | date: "%Y" }}</p>
                  <p class="category">{{ event.categories | join: '&nbsp | &nbsp' }}</p>
                  <h2>{{ event.title }}</h2>
                  <p>{{ event.excerpt | truncate: 320 }}</p>
                </div>
              </div>
              <!-- row thumbnail end-->
          </a>
      {% endif %}
    {% endfor %}
    </div>
    <!-- content-event-end -->
  </div>
  <!-- wrapper end -->
</main>
<!-- content end -->

{% include events-gallery.html %}
