---
layout: basic-structure
---

{% include header.html %}

<!-- content -->
<div class="wrapper container-fluid">
  <!-- wrapper -->
  <div class="wrapper">
    <a href="#">
      <!-- row -->
      <div class="row highlight-thumbnail">
        <!-- col -->
        <div class="col-xs-12 col-lg-6">
          <figure>
            <img src="{{ "/assets/images/event-thumbnail.jpg" | relative_url }}" alt="">
          </figure>
        </div>
        <!-- col end -->
      </div>
      <!-- row -->
    </a>
  </div>
  <!-- wrapper end -->
</div>
<!-- content end -->
