---
layout: basic-structure
---

{% include header.html %}

<!-- content -->
<main class="content content-post" uk-scrollspy="cls: uk-animation-fade; delay: 100">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 col-lg-offset-2 col-lg-8 center-lg">
        <h1>{{ page.title }}</h1>
        <p class="author-date">{{ page.author }}&nbsp; | &nbsp;{% assign m = page.date | date: "%-m" %} {% case m %} {% when '1' %}Enero {% when '2' %}Febrero {% when '3' %}Marzo {% when '4' %}Abril {% when '5' %}Mayo {% when '6' %}Junio {% when '7' %}Julio {% when '8' %}Agosto {% when '9' %}Septiembre {% when '10' %}Octubre {% when '11' %}Noviembre {% when '12' %}Diciembre {% endcase %} {{ page.date | date: "%d" }} / {{ page.date | date: "%Y" }}</p>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row article-container">
      <!-- col -->
      <article class="col-xs-12 col-lg-offset-2 col-lg-8">
        {{ content }}
        <a class="button brand-background button-big button-wide-xs" href="/lecciones/">Empieza <span class="hidden-xs visible-sm">tu aprendizaje</span> ahora</a>
      </article>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</main>
<!-- content end -->
